*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*nav sinistra**/
#wrapper{
    height: 100vh;
    width: 100%;
}
.nav-left{
    height: calc(100% - 100px);
    background-color: black;
    float:left;
    width: 190px;
    top: 0;
    left: 0;
    position: relative;
}
.title{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.title i{
    float:left;
    margin-left: 5px;
    margin-right: 10px;
    color: white;

}
.title h1{
    float:left;
    margin-top: 10px;
    color:white;
}
.clearfix{
    clear: both;
}
.list{
    margin-left: 10px;
}
.list ul{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    color: white;
}
.list ul i{
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    color:white;
}
.title-list ul{
    padding-top: 15px;
}
.playlist{
    margin-left: 13px;
    color:white;
}
.playlist ul{
    padding-top: 5px;
    list-style-type: none;
}
.playlist ul>li{
    padding-bottom: 7px;
}
.install{
    position: absolute;
    bottom: 10px;
    margin-left: 20px;
    color:white;
}
.fa-arrow-alt-circle-down{
    margin-right: 12px;
    margin-left: 5px;
}
.fa-user{
    margin-right: 12px;
}
hr{
    width: 85%;
    margin-left: auto;
    margin-top: 12px;
    margin-bottom: 10px;
    border-width: 1px;
}
/**main**/
main{
    height: calc(100% - 100px);
    background: rgb(0,35,36);
    background: linear-gradient(90deg, rgba(0,35,36,0.835171568627451) 0%, rgba(9,121,118,0.8939950980392157) 33%, rgba(0,254,255,1) 100%);
    width: calc(100% - 190px);
    float:left;
    overflow-y: auto;
}
.main-top{
    height: 100px;
    width: 100%;
    background: rgb(0,35,36);
    background: linear-gradient(90deg, rgba(0,35,36,0.835171568627451) 0%, rgba(9,121,118,0.8939950980392157) 33%, rgba(0,254,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
}
.main-top a{
    text-decoration: none;
    text-transform:uppercase;
    margin-right: 20px;

}
a{
    position: relative;

}
.active{
    color:white;
}
a.active::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-10px;
    width:60%;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
}
.color-title{
    color:black;
}
.color-title:hover{
    color:white;
}
.main-center{
    max-width: 1000px;
    display:block;
    margin: auto;

}
.title-row{
    margin-left: 35px;
    font-size: 27px;
    color:white;
}
.cover{
    width: 220px;
    height: 185px;
    background-color: blue;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}
.cover{
    margin-bottom: 20px;
}
.cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cover p{
    font-size: 21px;
    color:white;
}
/**footer**/
footer{
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    clear:both;

}
.footer-left{
    width: 190px;
    height: 100px;
    background-color: #333;
}

.footer-center{
    width: 986px;
    height: 100px;
    background-color: #333;
    justify-content: center;
    display: flex;
    padding-top: 12px;
    position: relative;
}
.footer-right{
    width: 190px;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-par{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
    position:relative;
}
.img-par img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.img-par p{
    position: absolute;
    left:79px;
    top: 14px;
    color:white;
}
.img-par i{
    position: absolute;
    left:141px;
    top: 20px;
    color:white
}
.icon-footer i{
    padding-right: 30px;
    color:white;
}
.icon-right i{
    padding-right: 10px;
}
.number-left{
    position: absolute;
    left: 10%;
    bottom: 32%;
    color:#777;
}
.number-right{
    position: absolute;
    right: 12%;
    bottom: 32%;
    color:#777;
}
.line{
    width: 251px;
    position: relative;

}
.line::before,
.line::after{
    content: '';
    left: -224px;
    width: 330px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.4;
}
.line::before {
    left:125px;
}
.line::after{
    right:0;
}
.line i{
    font-size: 19px;
    margin-left: 105px;
    color:white;
}
.line{
    margin-top: 5px;
}
.line-due{
    width: 123px;

}
.icon-right{
    margin-right: 53px;
    position: relative;
    color:white;
}
.line-due::before,
.line-due::after{
    content: '';
    left: 83px;
    width: 95px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    opacity: 0.4;
}
.circle-due{
        margin-left: 103px;
        top: 1px;
        left: 5px;
        position: absolute;
        font-size: 18px;
        color: white;
}
